/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

.content-container {
  margin-bottom: 4rem;
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  padding-top: 0px;
  padding-bottom: 0px
}
/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 60vw;
  }
}


/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin-bottom: 1.2rem;
  margin-top: 20px;
}

/*
  Header
*/

.header { 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
}

.header > nav {
  width: 100%;
  max-width: calc(900px - 30px * 2);
  display: flex; 
  column-gap: 2ch; 
  align-items: baseline;
  flex-wrap: wrap; 
  margin-left: auto;
  margin-right: auto;
}

.header a { 
  font-family: $title-font-family;
  color: $light-gray-color;
  font-style: normal;
  text-decoration: none;
  font-size : 1.3rem;
}

.header a:hover {
  color: #e55a5c;
}

.header .site-title { 
  flex-grow: 2;
  font-size : 1.6rem;
  color: $dark-gray-color;
}

.header .site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-logo img {
  padding-right: 0px;
  width:70px;
  vertical-align:middle;
}

