/*
  Social media icons
*/

svg.icon { 
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
  padding: 5px;
}

@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    fill: $color;
  }
}

.icon-twitter {
  fill: $light-gray-color;
  @include social-media-icon($twitter-color, $icon-transition-time);
}

.icon-github {
  fill: $light-gray-color;
  @include social-media-icon($github-color, $icon-transition-time);
}

.icon-linkedin {
  fill: $light-gray-color;
  @include social-media-icon($linkedin-color, $icon-transition-time);
}
